.vscode
.history
server/node_modules/
node_modules/
client/node_modules/
client/.editorconfig
client/cypress/downloads/
client/cypress/integration/examples/
client/cypress/integration/examples/
client/cypress/videos/
client/cypress/report/
client/cypress/screenshots/
client/.nyc_output
client/coverage/
.github/
