.history
server/node_modules/
node_modules/
client/node_modules/
client/cypress/downloads/
client/cypress/integration/examples/
client/cypress/integration/examples/
client/cypress/videos/
client/cypress/screenshots/
client/.nyc_output
